body {
    background-color: #121212;
    color: #ffffff;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
  }

  .przycisk {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #532dbb;
    opacity: 0.8;
    padding: 20px;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .przycisk:hover {
    background-color: #ffffff;
    color: #532dbb;
    transition-duration: 1s;
  }

  #nawigacja {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2a2a2a;
    list-style-type: none;
    border-radius: 15px;
    position: sticky;
    top: 0px;
    z-index: 5;
    text-align: center;
  }

  #nawigacja li {
    padding: 15px;
    display: inline-block;
  }

  #kontener {
    min-height: 67vh;
    width: 990px;
    padding: 25px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
	  text-align: center;
    font-size: 30px;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
  }

  footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #23272b;
    padding: 30px 50px;
    bottom: 0;
    position: absolute;
    width: 94%;
  }