body {
    background-color: #121212;
    color: #f5f5f5;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .przycisk {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #532dbb;
    opacity: 0.8;
    padding: 20px;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .przycisk:hover {
    background-color: #ffffff;
    color: #532dbb;
    transition-duration: 1s;
  }

  #nawigacja {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2a2a2a;
    list-style-type: none;
    border-radius: 1px;
    position: sticky;
    top: 0px;
    z-index: 5;
    text-align: center;
  }

  #nawigacja li {
    padding: 15px;
    display: inline-block;
  }

  #kontener {
    width: 990px;
    padding: 25px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
    background-color: #2a2a2a;
  }